html,
body {
  padding: 0;
  margin: 0;
  background-color: #212121;
  color: #fff;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face{
  font-family: 'Red Hat Display', sans-serif;
  src: url("/fonts/RedHatDisplay-Regular.ttf") format("truetype");
}

span {
  font-size: 18px;
}